
/YaleFigureSkatingClub.Entities/bin
/YaleFigureSkatingClub.Entities/obj
/YaleFigureSkatingClub/obj
/YaleFigureSkatingClub/bin
/YaleFigureSkatingClub/lib
/YaleFigureSkatingClub/YaleFigureSkatingClub.pidb
/YaleFigureSkatingClub.userprefs
/YaleFigureSkatingClub.Entities/YaleFigureSkatingClub.Entities.pidb
/YaleFigureSkatingClub.BusinessLayer/bin
/YaleFigureSkatingClub.BusinessLayer/obj
/Microsoft.Web.Mvc.DataAnnotations/obj
/Microsoft.Web.Mvc.DataAnnotations/bin
/Microsoft.Web.Mvc.DataAnnotations/Microsoft.Web.Mvc.DataAnnotations.pidb
/YaleFigureSkatingClub/YaleFigureSkatingClub.csproj.user
/YaleFigureSkatingClub.suo
/YaleFigureSkatingClub.BusinessLayer/YaleFigureSkatingClub.BusinessLayer.pidb