
/YaleFigureSkatingClub.Entities/bin
/YaleFigureSkatingClub.Entities/obj
/YaleFigureSkatingClub/obj
/YaleFigureSkatingClub/bin
/YaleFigureSkatingClub/lib
/YaleFigureSkatingClub/YaleFigureSkatingClub.pidb
/YaleFigureSkatingClub.userprefs